.DS_Store
.gradle/
.metadata
.recommenders/
RemoteSystemsTempFiles/
*.git/
**/generated/
**/bin/
**/gazebo.bndrun
**/gazebo.jar
**/stage.bndrun
**/stage.jar
test/
test1/
**/resources/logs/
**/b2service
**/gazeSOO


