.DS_Store
.gradle/
.metadata
.recommenders/
RemoteSystemsTempFiles/
*.git/
**/generated/
**/bin/
**/gazebo.bndrun
**/gazebo.jar
**/stage.bndrun
**/stage.jar
test/
test1/
**/resources/logs/
**/b2service
**/gazeSOO
be.iminds.iot.simulator.gazebo
coppelia
it.ismb.pert.cpswarm.gazeboSimulationManager
it.ismb.pert.cpswarm.simulationOrchestrator
org.ros.rosjava_messages.gazebo_msgs
org.ros.rosjava_messages.std_srvs
org.ros.rosjava_messages.trajectory_msgs

